$widths: (
  1: 7.43902439%,
  2: 15.84804878%,
  3: 24.25707317%,
  4: 32.66609756%,
  5: 41.07512195%,
  6: 49.48414634%,
  7: 57.89317073%,
  8: 66.30219512%,
  9: 74.71121951%,
  10: 83.1202439%,
  11: 91.52926829%,
  12: 99.93829268%
);

$breakpoints: (
  l: 1600px,
  m: 1000px,
  s: 700px
);

.container {
  height: 100%;
  width: 85.4166666%;
  padding: 0 7.2916666%;

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.row {
  width: 100%;
  display: inline-block;
}

@mixin create-grid-elements($size: '') {
  @each $i, $width in $widths {
    .col#{$size}-#{$i} {
      display: inline-block;
      position: relative;
      width: #{$width};
    }
    .space#{$size}-#{$i} {
      margin-left: #{$width / 2};
      margin-right: #{$width / 2};
    }
    .space-down-#{$i} {
      margin-bottom: #{$width};
    }
    .float#{$size}-#{$i} {
      float: right;
      margin-right: 0;
      margin-right: #{$width};
    }
  }
}

@include create-grid-elements();

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@each $breakpoint, $size in $breakpoints {
  @include respond-to($breakpoint) {
    @include create-grid-elements('-' + $breakpoint);
  }
}
