$color1: #70311A;
$color2: #D1917C;
$color3: #E3CAC2;
$color4: #EFE3DF;

$white: #FFFFFF;
$grey: #707070;
$dark-grey: #5B524E;
$shadow: rgba(#000, 0.2);
$shadow-fine: rgba(#000, 0.1);

$accent1: #F2561C;
$accent2: #68004A;