<div class="preview-container" [ngStyle]="{ transform: transforms }">
  <img
    class="preview-image"
    src="../../../assets/img/{{chocolate.image}}.jpeg"
    alt="Chocolate preview"
  />
  <div
    class="details"
    [ngClass]="showDetails ? 'full-details' : 'hidden-details'"
    (click)="toggleDetails()"
  >
    <i *ngIf="!showDetails" class="plus-icon fa fa-plus"></i>
    <div *ngIf="showDetails" class="details-container">
      <div class="stars">
        <i *ngFor="let i of fullStars" class="fas fa-star"></i>
        <i *ngFor="let i of hollowStars" class="far fa-star"></i>
      </div>
      <span class="details-text">
        {{chocolate.description}}
      </span>
      <div class="more" (click)="showMore($event)">More</div>
    </div>
  </div>
  <h1 class="name">{{chocolate.brand}}</h1>
  <h2 class="flavor">{{chocolate.type}}</h2>
</div>
