@import '../../../styles/palette';
@import '../../../styles/grid';

%animate {
  transition: all 0.1s ease-out;
}

.preview-container {
  width: 100%;
  background-color: $accent2;
  box-shadow: 3px 3px 6px $shadow;
  border-radius: 5px;
}

.preview-image {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.details {
  position: absolute;
  background-color: $accent1;
}

.hidden-details {
  @extend %animate;
  left: 55%;
  bottom: 8.4rem;
  width: 4rem;
  height: 4rem;
  background-color: $accent1;
  border-radius: 50%;
  margin-bottom: -0.8rem;
  box-shadow: 0px 3px 6px $shadow-hard;

  &:hover {
    @extend %animate;
    bottom: 8.9rem;
    width: 5rem;
    height: 5rem;
    left: calc(55% - 0.5rem);
    margin-bottom: -1.8rem;
    box-shadow: 0px 0px 12px 6px $shadow-extra;
    cursor: pointer;

    .plus-icon {
      @extend %animate;
      line-height: 5rem;
    }
  }
}

.full-details {
  transition: all 0.2s ease-out;
  left: 0;
  bottom: 0;
  width: calc(100% - 4rem);
  height: calc(100% - 2rem);
  border-radius: 5px;
  padding: 1rem 2rem;
}

.name {
  margin-top: 1.4rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 4.4rem;
  color: $color4;
  text-shadow: 3px 3px 6px $shadow;
}

.flavor {
  margin-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1.9rem;
  color: $color2;
  text-shadow: 3px 3px 6px $shadow;
}

.plus-icon {
  @extend %animate;
  font-size: 3rem;
  line-height: 4rem;
  color: $accent2;
}

.details-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-text {
  font-size: 1.9rem;
  color: $color4;
}

.stars {
  font-size: 2.4rem;
  margin: 1.2rem 0;

  i {
    color: $accent2;
    margin-right: 0.2rem;
  }
}

.more {
  @extend %animate;
  position: absolute;
  bottom: 2.5rem;
  align-self: center;
  border-radius: 5px;
  padding: 0.3rem 1.7rem 0.1rem 1.7rem;
  color: $color4;
  font-size: 2rem;
  background-color: $accent2;
  text-shadow: 3px 3px 6px $shadow;
  box-shadow: 0px 3px 6px $shadow-hard;

  &:hover {
    @extend %animate;
    cursor: pointer;
    font-size: 2.6rem;
    bottom: 2rem;
    padding: 0.6rem 2.2rem 0.2rem 2.2rem;
    box-shadow: 0px 3px 6px 1px $shadow-extra;
  }
}

@include respond-to('m') {
  .stars {
    font-size: 2.1rem;
  }
}

@include respond-to('s') {
  .details-text {
    font-size: 3rem;
  }

  .stars {
    font-size: 3rem;
    margin: 2rem 0;

    i {
      margin-right: 1rem;
    }
  }
}
