<div class="container">
  <div class="search col-6 col-m-12">
    <div class="title float-1">CHOKI</div>
    <div class="search-box col-9">
      <input
        #searchInput
        type="text"
        placeholder="{{placeholder}}"
        [(ngModel)]="keyword"
        (keyup)="keywordChanged($event)"
      />
      <i class="search-icon fa fa-search"></i>
    </div>
  </div>

  <div class="hero col-6 col-m-12">
    <img class="hero-image" src="../../../assets/img/csoki.png" alt="Chocolate stack">
  </div>
</div>