@import '../../../styles/palette';
@import '../../../styles/grid';

.container {
  padding-top: 14rem;
  justify-content: start;
}

.title {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 4.4rem;
  color: $accent2;
  text-shadow: 3px 3px 6px $shadow;
}

.subtitle {
  padding-top: 0.5rem;
  font-size: 2rem;
  color: $color1;
  text-shadow: 3px 3px 6px $shadow;
}

.stars {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
  i {
    color: $accent2;
    margin: 0 0.3rem;
  }
}

.description {
  font-size: 1.9rem;
  font-weight: 300;
  padding-top: 2rem;
}

.image {
  background-color: $accent2;
  box-shadow: 3px 3px 6px $shadow;
  border-radius: 5px;
  height: auto;
  width: 100%;
}
